.video{
    padding: 0.8rem;
    cursor: pointer;

}
.videoTop{
    position: relative;
}
.videoTop img{
    width: 100%;
    height: 13.18rem;
    border-radius: 30px;
}
.videoTop span{
    position: absolute;
    right: 0.937rem;
    bottom: 0.937rem;
    background-color: black;
    padding: 0.125rem;
    border-radius: 0.53rem;
    color: azure;
}
.videoTitle{
    padding: 0.625rem;

}
.videoDetails{
    padding: 0.625rem;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.videoDetails span{
    padding: 2px;
}

.videoChannel{
    padding: 0.625rem;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.videoChannel img{
    width: 40px;

}
