.sidebar{
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 90vh;
    transition: transform 0.2s ease-in;

    /* &.open{
        display: none;
        color: green;

    } */
}
.open{
    /* display: none; */
    transform: translateX(-100%);
    position: fixed;
    z-index: 99;
}
li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
}
.span{
    /* i have done width 100% in order cover the whole space which is left by doing flex */
    width: 100%;
    margin-left: 0.875rem;
    padding: 0.625rem;

}
.span:hover{
    background-color: gray;
}
