.homescreen{
    display: flex;
    flex-direction: column;
    /* here I have given width 82% because Sidebar  accquire 28% */
    width: 82%;
    padding: 10px;
}
.videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}